body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 30px 30px 10px 30px;
  background-color: black;
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

div {
  margin-top: 18px;
  margin-bottom: 20px;
}

header {
  font-size: 30px;
}

footer {
  font-size: 15px;
  line-height: 20px;
  margin-top: 40px;
}

#right_now {
  font-size: 80px;
}

#forecasts_header {
  font-size: 45px;
}

#forecast_3hr {
  font-size: 35px;
}

#forecast_6hr {
  font-size: 35px;
}

#forecast_12hr {
  font-size: 35px;
}

#forecast_1day {
  font-size: 35px;
}

#forecast_3day {
  font-size: 35px;
}

#forecast_5day {
  font-size: 35px;
}